{% extends "layout2.html" %}

{% block content %}
{%import "_macros.html" as macro%}
    <h1>Distancia</h1>

    <form action="" method="post">
        {{macro.input_Form(form.PuntoX1,class="form-control")}}
        {{macro.input_Form(form.PuntoY1,class="form-control")}}
        {{macro.input_Form(form.PuntoX2,class="form-control")}}
        {{macro.input_Form(form.PuntoY2,class="form-control")}}

        
        <input type="submit" name="btn1">
    </form>

<h1>Distancia: {{resultado}}</h1>

{% endblock %}